* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}

.body {
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f5f5;
}


/* HEADER */

.myHeader {
    background-color: #1793A6;
    min-height: 75px;
    width: 100%;
}

.navig {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.navi {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navi li {
    margin: 10px;
}

.navi li.dropdown {
    margin: 0 10px;
}

#navi-slide {
    position: fixed;
    left: -250px;
    top: 75px;
    height: 0;
    background: #235a63;
    transition: left 0.4s linear;
    z-index: 100000;
}

.mobile-brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mobile-brand button {
    max-width: 60px;
}

.mobile-brand button span {
    background-color: white;
}

.mobile-brand button:hover span {
    opacity: .7;
}

.navbar-toggle {
    margin-left: 0;
}

.brand {
    background: url(../imagens/LogoCompbrancaBugTracker.png) center no-repeat;
    background-size: 100%;
    color: transparent;
    font-size: 1.875em;
    padding: 5px;
    margin-left: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.brand:hover {
    color: transparent;
}

.navigator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigator li {
    padding: 0 20px;
}

.navigator li a {
    color: #fff;
}

.navigator li a:hover {
    color: #e5e5e5;
    text-decoration: none;
}

.navi li {
    padding: 0 20px;
}

.navi li a {
    color: #fff;
}

.navi li a:hover {
    color: #e5e5e5;
    text-decoration: none;
}

.a-cores {
    background-color: #1793A6;
}

.a-cores li:hover {
    background-color: #1783A6;
}

.a-cores li a:hover {
    background-color: transparent;
}

.flex-a {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
}

.flex-a p {
    margin: 0;
}


/* HEADER FIM */


/* CONTEUDO */


/** Geral **/

.myMain {
    flex-grow: 3;
    margin: 50px auto;
}


/* --Botões-- */

.btn-grande {
    width: 250px;
    height: 70px;
    font-size: 20px;
    text-align: center;
}

button {
    position: relative;
    min-width: 88px !important;
    padding: 12px 20px !important;
    outline: none !important;
    background-color: #1793A6 !important;
    border: none;
    margin: 5px auto;
    cursor: pointer;
    overflow: hidden;
    border-radius: 3px !important;
    -webkit-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12) 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12) 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12) 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12) 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12) 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.rp {
    border-color: #cdcdcd !important;
}

.rp:hover {
    background-color: #cc1f3b !important;
    border-color: #cc1f3b !important;
    opacity: 0.9 !important;
}

.rp:focus,
.rp:active {
    background-color: #cc1f3b !important;
    opacity: 1 !important;
    border-color: #cc1f3b !important;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15) 0 3px 6px 0 rgba(0, 0, 0, 0.23) !important;
    -o-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15) 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15) 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15) 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15) 0 3px 6px 0 rgba(0, 0, 0, 0.23) !important;
}

.ripple {
    position: absolute;
    background: rgba(255, 255, 255, 0.50);
    pointer-events: none;
    border-radius: 100%;
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.ripple.show {
    -webkit-animation: ripple .45s ease-out;
    animation: ripple .45s ease-out;
}

@-webkit-keyframes ripple {
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes ripple {
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}


/* --Fim Botões-- */


/** Geral FIM **/


/** index **/

.myMain div h2 {
    margin-bottom: 50px;
}

.myMain div p {
    margin-bottom: 100px;
    font-size: 20px;
}


/* index FIM */


/** Cadastrar-Erro **/

#sectionCadastro h2 {
    padding-bottom: 50px;
    font-size: 40px;
}

.form-control-feedback {
    right: -12px;
}


/** Cadastrar-Erro FIM **/


/** Search **/

.switch {
    display: flex;
    justify-content: center;
    margin: 5em auto;
    flex-wrap: wrap;
}

.switch-li {
    list-style-type: none !important;
}

.row {
    margin: 0 50px;
}

.cont {
    position: relative;
    height: 100%;
}


/** Search FIM **/


/** Lista **/

table {
    border-collapse: collapse;
    border-spacing: 10px;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    border: none;
    text-align: left;
    padding: 8px;
}

.page-header {
    margin: 0 0 20px;
    border: 1px solid transparent;
    right: -20px;
    top: -20px;
}

.detail {
    width: 30px !important;
    height: 30px;
    min-width: 0 !important;
    padding: 0 !important;
    margin: 0px auto !important text-align: center;
}

.glyphicon-info-sign {
    color: white;
}


/** Lista FIM **/


/** DetalhesErro **/

.conte-detalhes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 70em;
}

.cont-header {
    width: 100%;
    flex-grow: 1;
}

.cont-down-header {
    width: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: column
}

.align {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cont-cont {
    width: 100%;
    flex-grow: 4;
}

.cont-footer {
    width: 100%;
    flex-grow: 2;
}


/* Style the buttons that are used to open and close the accordion panel */

h3.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    text-align: left;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.4s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.glyphicon-triangle-right {
    font-size: 15px;
}

.glyphicon-triangle-bottom {
    display: none;
    font-size: 15px;
}

.addSoluc {
    width: 30px !important;
    height: 30px;
    min-width: 0 !important;
    padding: 0 !important;
    margin-left: 30px;
    float: right;
}

.fullscree {
    width: 100%;
    align-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fullsc {
    width: 100%;
    align-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
}

h6.recoil {
    margin: 0 !important;
    font-size: 14px !important;
    font-weight: 700 !important;
}

.space {
    margin: 10px 0;
}

.glyphicon-plus {
    font-size: 10px;
    color: white;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

h3.accordion.active,
h3.accordion:hover {
    background-color: #ddd;
}

h3.accordion:not(.active) span.glyphicon-triangle-right {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}


/* Style the accordion panel. Note: hidden by default */

div.panel {
    padding: 0 18px;
    background-color: #f5f5f5;
    display: none;
    border: none;
    transition: .4s all ease;
    -webkit-transition: .4s all ease;
    opacity: 0;
}


/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */

div.panel.show {
    display: block;
    transition: .4s all ease;
    -webkit-transition: .4s all ease;
    opacity: 1;
}


/** DetalhesErro FIM **/


/* FOOTER  */

.myFooter {
    background-color: #424242;
    min-height: 75px;
    text-align: center;
    width: 100%;
}

.myFooter a {
    background: url(../imagens/LogoCompbranca.png) center no-repeat;
    background-size: 100%;
    color: transparent;
    font-size: 2.8em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.myFooter p {
    color: white;
    font-size: 11px;
    opacity: .7;
}

.heart {
    color: #CC1F3B;
}


/* FOOTER FIM */


/*******************************
* ACCORDION*
*******************************/

.hpanel-group .hpanel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.hpanel-default > .hpanel-heading {
    padding: 0;
    border-radius: 8px;
    color: #212121;
    background-color: #add4da;
    border-color: #EEEEEE;
}

.hpanel-title {
    font-size: 14px;
}

.hpanel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.more-less {
    float: right;
    color: #212121;
}

.hpanel-default > .hpanel-heading + .hpanel-collapse > .hpanel-body {
    border-top-color: #EEEEEE;
}