/*Comp Júnior/Grupo 2*/


/*Projeto a ser realizado para o PS 2016.1/Etapa 3*/

html,
body {
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
    background-color: #f5f5f5 !important;
}

section {
    height: auto;
    margin-bottom: 5em;
    width: 100%;
}

nav {
    background-color: #1793A6;
}


/*                     NAVBAR                     */

#logoComp {
    width: 252.5px;
    height: 61.5px;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

a:focus,
a:active {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.nav-tam {
    min-height: 75px !important;
    height: 120px;
}

.nav-tam>li>a:hover {
    color: #F2C716 !important;
}

.nav-pad {
    padding-top: 33.5px !important;
}

.nav li a:hover {
    background-color: transparent;
    color: #F2C716 !important;
}

.nav-colors {
    color: white !important;
}

.navbar-borda {
    border: 0;
    border-radius: 0;
}

.menu-pad {
    margin-top: 33.5px !important;
}

.a-cores {
    color: white;
    background-color: #0094a8 !important;
    border: 0;
}

.a-cores a {
    color: white !important;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover,
ul li a:active {
    text-decoration: none;
    color: #cc1f3b;
}

ul li a:focus {
    background-color: transparent;
}

.menu-bar {
    color: #fff;
}


/*                     OUTROS                     */

body {
    background-color: #f6f6f6;
}

.switch {
    display: flex;
    justify-content: center;
    margin: 5em auto;
}

.switch-li {
    list-style-type: none !important;
}

#divCadastrarErrorText {
    text-align: center;
}

#sectionCadastro form {
    width: 60% !important;
    display: : table;
    margin: auto;
}

#sectionCadastro h2 {
    padding-bottom: 50px;
    font-size: 40px;
}

#sectionCadastro button {
    background-color: #1793A6;
}

#buttonError:focus {
    background: #8CBE42;
}

#buttonProject:focus {
    background: #8CBE42;
}

#left {
    display: none;
}

#left form {
    width: 60% !important;
    display: : table;
    margin: auto;
}

#right {
    display: none;
}

#right form {
    width: 60% !important;
    display: : table;
    margin: auto;
}

.btn-grande {
    width: 250px;
    height: 70px;
    font-size: 20px;
    text-align: center;
}

.conteudo {
    padding: 0 10%;
    height: 500px;
}

#titulo {
    margin-bottom: 50px;
}

#texto {
    margin-bottom: 100px;
    font-size: 20px;
}

#btnnav {
    font-size: 15px;
    padding: 1px;
    margin-top: 20px;
    float: right !important;
}

.bt:hover {
    color: #000;
    background-color: #F2C716;
}

.nav-widith {
    width: 100%;
}

button {
    position: relative;
    min-width: 88px !important;
    padding: 12px 20px !important;
    outline: none !important;
    background-color: #1793A6 !important;
    border: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 3px !important;
    -webkit-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12) 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12) 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12) 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12) 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12) 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.rp {
    border-color: #cdcdcd !important;
}

.rp:hover {
    background-color: #cc1f3b !important;
    border-color: #cc1f3b !important;
    opacity: 0.9 !important;
}

.rp:focus,
.rp:active {
    background-color: #cc1f3b !important;
    opacity: 1 !important;
    border-color: #cc1f3b !important;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15) 0 3px 6px 0 rgba(0, 0, 0, 0.23) !important;
    -o-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15) 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15) 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15) 0 3px 6px 0 rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15) 0 3px 6px 0 rgba(0, 0, 0, 0.23) !important;
}

.ripple {
    position: absolute;
    background: rgba(255, 255, 255, 0.50);
    pointer-events: none;
    border-radius: 100%;
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.ripple.show {
    -webkit-animation: ripple .45s ease-out;
    animation: ripple .45s ease-out;
}

@-webkit-keyframes ripple {
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes ripple {
    to {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #424242;
    text-align: center;
    border-bottom: 5px;
    color: white;
}

footer p {
    padding-top: 2em;
}