
html, body {
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

section {
  height: auto;
  min-height: 100%;
  width: 100%;
 }
 
footer {

  padding-top: 30px;
  padding-bottom: 50px;
  height: 75px;
  background-color: #1793A6;
  text-align: center;
  border-bottom: 5px; 
  color: white;
}
.btn-azulcomp{
  width: 200px;
    background-color: #1793A6;
}
.conteudo{
  padding: 0 10%;
  height: 500px;
}

#titulo{
  margin-bottom: 50px;
}

#texto{
  margin-bottom: 100px;
  font-size: 20px;
}

#btnnav{
  font-size: 15px;
    padding: 1px;
    margin-top: 20px;
  float: right !important;
}

.bt:hover{
  color: #000;
  background-color: #F2C716;
}
.nav-widith{
  width: 100%;
}


